.container {
    margin-top: 4rem;
    max-width: none;
    text-align: center;
}

table {
    font-size: 12px;
    border-spacing:0 5px;
}

td {
    padding: 1px;
    text-align: center;
}

tr {
    padding-bottom: 1px;
}

ul {
    margin-bottom: 0rem;
    list-style: none;
}

img {
    width : 75%;
    height : 75%;
}